{
  "overwrite": true,
  "dashboard":
    {
    "annotations": {
      "list": [
        {
          "builtIn": 1,
          "datasource": "-- Grafana --",
          "enable": true,
          "hide": true,
          "iconColor": "rgba(0, 211, 255, 1)",
          "name": "Annotations & Alerts",
          "type": "dashboard"
        }
      ]
    },
    "editable": true,
    "gnetId": null,
    "graphTooltip": 0,
    "id": null,
    "links": [],
    "panels": [
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.broker_cpu_threshold }}
                ],
                "type": "gt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "10m",
          "frequency": "1m",
          "handler": 1,
          "message": "broker CPU is above threshold",
          "name": "Broker CPU alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "kafka3-{{ item.environment }}",
        "description": "Kafka3 {{ item.environment }} broker CPU",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 8,
          "x": 0,
          "y": 0
        },
        "hiddenSeries": false,
        "id": 27,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#E0B400"
          },
          {
            "alias": "average",
            "color": "#FFF899"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "100 - (avg by (name, private_ip) (rate(node_cpu_seconds_total{job=\"broker-node-metrics\",mode=\"idle\"}[5m])) * 100)",
            "interval": "",
            "legendFormat": "{% raw %}{{name}} [{{private_ip}}]{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(100 - (avg by (private_ip) (rate(node_cpu_seconds_total{job=\"broker-node-metrics\",mode=\"idle\"}[5m])) * 100))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "gt",
            "value": "{{ item.broker_cpu_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Broker CPU",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "percent",
            "label": null,
            "logBase": 1,
            "max": "100",
            "min": "0",
            "show": true
          },
          {
            "format": "Misc",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.zookeeper_cpu_threshold }}
                ],
                "type": "gt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "10m",
          "frequency": "1m",
          "handler": 1,
          "message": "Zookeeper CPU is above threshold",
          "name": "Zookeeper CPU alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "kafka3-{{ item.environment }}",
        "description": "Kafka3 {{ item.environment }} zookeeper CPU",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 8,
          "x": 8,
          "y": 0
        },
        "hiddenSeries": false,
        "id": 6,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#1F60C4"
          },
          {
            "alias": "average",
            "color": "#C0D8FF"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "100 - (avg by (name, private_ip) (rate(node_cpu_seconds_total{job=\"zookeeper-node-metrics\",mode=\"idle\"}[5m])) * 100)",
            "interval": "",
            "legendFormat": "{% raw %}{{name}} [{{private_ip}}]{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(100 - (avg by (private_ip) (rate(node_cpu_seconds_total{job=\"zookeeper-node-metrics\",mode=\"idle\"}[5m])) * 100))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "gt",
            "value": "{{ item.zookeeper_cpu_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Zookeeper CPU",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "percent",
            "label": null,
            "logBase": 1,
            "max": "100",
            "min": null,
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "kafka3-{{ item.environment }}",
        "description": "Kafka3 {{ item.environment }} broker free memory",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 8,
          "x": 0,
          "y": 6
        },
        "hiddenSeries": false,
        "id": 28,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#E0B400"
          },
          {
            "alias": "average",
            "color": "#FFF899"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_memory_MemFree_bytes{job=\"broker-node-metrics\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{name}} [{{private_ip}}]{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_memory_MemFree_bytes{job=\"broker-node-metrics\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Broker Memory Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.broker_memory_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "kafka3-{{ item.environment }}",
        "description": "Kafka3 {{ item.environment }} zookeeper free memory",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 8,
          "x": 8,
          "y": 6
        },
        "hiddenSeries": false,
        "id": 14,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#1F60C4"
          },
          {
            "alias": "average",
            "color": "#C0D8FF"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_memory_MemFree_bytes{job=\"zookeeper-node-metrics\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{name}} [{{private_ip}}]{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_memory_MemFree_bytes{job=\"zookeeper-node-metrics\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Zookeeper Memory Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.zookeeper_memory_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.broker_root_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "10m",
          "frequency": "1m",
          "handler": 1,
          "message": "Broker root disk below threshold",
          "name": "Broker Root Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "kafka3-{{ item.environment }}",
        "description": "Kafka3 {{ item.environment }} broker root disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 8,
          "x": 0,
          "y": 12
        },
        "hiddenSeries": false,
        "id": 29,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#E0B400"
          },
          {
            "alias": "average",
            "color": "#FFF899"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"broker-node-metrics\", device=\"/dev/nvme0n1p1\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{name}} [{{private_ip}}]{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"broker-node-metrics\", device=\"/dev/nvme0n1p1\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.broker_root_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Broker Root Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.broker_root_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.zookeeper_root_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "10m",
          "frequency": "1m",
          "handler": 1,
          "message": "Zookeeper root disk is below threshold",
          "name": "Zookeeper Root Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "kafka3-{{ item.environment }}",
        "description": "Kafka3 {{ item.environment }} zookeeper root disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 8,
          "x": 8,
          "y": 12
        },
        "hiddenSeries": false,
        "id": 21,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#1F60C4"
          },
          {
            "alias": "average",
            "color": "#C0D8FF"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"zookeeper-node-metrics\", device=\"/dev/nvme0n1p1\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{name}} [{{private_ip}}]{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"zookeeper-node-metrics\", device=\"/dev/nvme0n1p1\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.zookeeper_root_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Zookeeper Root Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.zookeeper_root_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.broker_data_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "10m",
          "frequency": "1m",
          "handler": 1,
          "message": "Broker data disk is below threshold",
          "name": "Broker Data Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "kafka3-{{ item.environment }}",
        "description": "Kafka3 {{ item.environment }} broker data disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 8,
          "x": 0,
          "y": 18
        },
        "hiddenSeries": false,
        "id": 35,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#E0B400"
          },
          {
            "alias": "average",
            "color": "#FFF899"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"broker-node-metrics\", mountpoint=\"/data/kafka\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{name}} [{{private_ip}}]{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"broker-node-metrics\", mountpoint=\"/data/kafka\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.broker_data_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Broker Data Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.broker_data_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "alert": {
          "alertRuleTags": {},
          "conditions": [
            {
              "evaluator": {
                "params": [
                  {{ item.zookeeper_data_threshold }}
                ],
                "type": "lt"
              },
              "operator": {
                "type": "and"
              },
              "query": {
                "params": [
                  "B",
                  "5m",
                  "now"
                ]
              },
              "reducer": {
                "params": [],
                "type": "avg"
              },
              "type": "query"
            }
          ],
          "executionErrorState": "alerting",
          "for": "10m",
          "frequency": "1m",
          "handler": 1,
          "message": "Zookeeper data disk is below threshold",
          "name": "Zookeeper Data Disk Free alert",
          "noDataState": "alerting",
          "notifications": [
            {
              "uid": "slack_notification"
            }
          ]
        },
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "kafka3-{{ item.environment }}",
        "description": "Kafka3 {{ item.environment }} zookeeper data disk free",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 8,
          "x": 8,
          "y": 18
        },
        "hiddenSeries": false,
        "id": 36,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#1F60C4"
          },
          {
            "alias": "average",
            "color": "#C0D8FF"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "node_filesystem_avail_bytes{job=\"zookeeper-node-metrics\", mountpoint=\"/data/zookeeper\"}/1073741824",
            "interval": "",
            "legendFormat": "{% raw %}{{name}} [{{private_ip}}]{% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(node_filesystem_avail_bytes{job=\"zookeeper-node-metrics\", mountpoint=\"/data/zookeeper\"}/1073741824)",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [
          {
            "colorMode": "critical",
            "fill": false,
            "line": true,
            "op": "lt",
            "value": "{{ item.zookeeper_data_threshold }}"
          }
        ],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Zookeeper Data Disk Free",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "decimals": null,
            "format": "gbytes",
            "label": null,
            "logBase": 1,
            "max": "{{ item.zookeeper_data_scale_max }}",
            "min": "0",
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "kafka3-{{ item.environment }}",
        "description": "Kafka3 {{ item.environment }} broker network traffic received",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 8,
          "x": 0,
          "y": 24
        },
        "hiddenSeries": false,
        "id": 30,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#E0B400"
          },
          {
            "alias": "average",
            "color": "#FFF899"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "irate(node_network_receive_bytes_total{job=\"broker-node-metrics\",device=\"eth0\"}[5m])",
            "interval": "",
            "legendFormat": "{% raw %}{{device}} receive ({{name}} [{{private_ip}}]){% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(irate(node_network_receive_bytes_total{job=\"broker-node-metrics\",device=\"eth0\"}[5m]))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Broker Network Traffic (Rx)",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "KBs",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "kafka3-{{ item.environment }}",
        "description": "Kafka3 {{ item.environment }} zookeeper network traffic received",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 8,
          "x": 8,
          "y": 24
        },
        "hiddenSeries": false,
        "id": 38,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#1F60C4"
          },
          {
            "alias": "average",
            "color": "#C0D8FF"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "irate(node_network_receive_bytes_total{job=\"zookeeper-node-metrics\",device=\"eth0\"}[5m])",
            "interval": "",
            "legendFormat": "{% raw %}{{device}} receive ({{name}} [{{private_ip}}]){% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(irate(node_network_receive_bytes_total{job=\"zookeeper-node-metrics\",device=\"eth0\"}[5m]))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Zookeeper Network Traffic (Rx)",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "KBs",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "kafka3-{{ item.environment }}",
        "description": "Kafka3 {{ item.environment }} broker network traffic transmitted",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 8,
          "x": 0,
          "y": 30
        },
        "hiddenSeries": false,
        "id": 37,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#E0B400"
          },
          {
            "alias": "average",
            "color": "#FFF899"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "irate(node_network_transmit_bytes_total{job=\"broker-node-metrics\",device=\"eth0\"}[5m])",
            "interval": "",
            "legendFormat": "{% raw %}{{device}} transmit ({{name}} [{{private_ip}}]){% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(irate(node_network_transmit_bytes_total{job=\"broker-node-metrics\",device=\"eth0\"}[5m]))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Broker Network Traffic (Tx)",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "KBs",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
      {
        "aliasColors": {},
        "bars": false,
        "dashLength": 10,
        "dashes": false,
        "datasource": "kafka3-{{ item.environment }}",
        "description": "Kafka3 {{ item.environment }} zookeeper network traffic transmitted",
        "fieldConfig": {
          "defaults": {
            "custom": {}
          },
          "overrides": []
        },
        "fill": 1,
        "fillGradient": 0,
        "gridPos": {
          "h": 6,
          "w": 8,
          "x": 8,
          "y": 30
        },
        "hiddenSeries": false,
        "id": 26,
        "legend": {
          "avg": false,
          "current": false,
          "max": false,
          "min": false,
          "show": false,
          "total": false,
          "values": false
        },
        "lines": true,
        "linewidth": 1,
        "nullPointMode": "null",
        "options": {
          "alertThreshold": true
        },
        "percentage": false,
        "pluginVersion": "7.2.1",
        "pointradius": 2,
        "points": false,
        "renderer": "flot",
        "seriesOverrides": [
          {
            "alias": "/.*/",
            "color": "#1F60C4"
          },
          {
            "alias": "average",
            "color": "#C0D8FF"
          }
        ],
        "spaceLength": 10,
        "stack": false,
        "steppedLine": false,
        "targets": [
          {
            "expr": "irate(node_network_transmit_bytes_total{job=\"zookeeper-node-metrics\",device=\"eth0\"}[5m])",
            "interval": "",
            "legendFormat": "{% raw %}{{device}} transmit ({{name}} [{{private_ip}}]){% endraw %}",
            "refId": "A"
          },
          {
            "expr": "avg(irate(node_network_transmit_bytes_total{job=\"zookeeper-node-metrics\",device=\"eth0\"}[5m]))",
            "interval": "",
            "legendFormat": "average",
            "refId": "B"
          }
        ],
        "thresholds": [],
        "timeFrom": null,
        "timeRegions": [],
        "timeShift": null,
        "title": "Zookeeper Network Traffic (Tx)",
        "tooltip": {
          "shared": true,
          "sort": 0,
          "value_type": "individual"
        },
        "type": "graph",
        "xaxis": {
          "buckets": null,
          "mode": "time",
          "name": null,
          "show": true,
          "values": []
        },
        "yaxes": [
          {
            "format": "KBs",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          },
          {
            "format": "short",
            "label": null,
            "logBase": 1,
            "max": null,
            "min": null,
            "show": true
          }
        ],
        "yaxis": {
          "align": false,
          "alignLevel": null
        }
      },
    ],
    "refresh": false,
    "schemaVersion": 26,
    "style": "dark",
    "tags": [],
    "templating": {
      "list": []
    },
    "time": {
      "from": "now-6h",
      "to": "now"
    },
    "timepicker": {},
    "timezone": "",
    "title": "{{ item.environment }} kafka3 instances",
    "uid": "{{ item.environment }}-kafka3-instances"
  }
}
